version: 2
jobs:
  redis:
    docker:
      - image: circleci/golang:1.13
        environment:
          - GO111MODULE=on
      - image: redis:alpine
    working_directory: /go/src/github.com/taylorchu/work
    steps:
      - checkout
      - run: go test -p 1 -v ./...
  keydb:
    docker:
      - image: circleci/golang:1.13
        environment:
          - GO111MODULE=on
      - image: eqalpha/keydb
    working_directory: /go/src/github.com/taylorchu/work
    steps:
      - checkout
      - run: go test -p 1 -v ./...
