version: 2.1
jobs:
  redis:
    parameters:
      redis-image:
        type: string
      go-image:
        type: string
    docker:
      - image: << parameters.go-image >>
        environment:
          - GO111MODULE=on
      - image: << parameters.redis-image >>
    steps:
      - checkout
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck -checks all,-ST1000 ./...
      - run: dockerize -wait tcp://:6379
      - run: go test -p 1 -v ./...
  redis-cluster:
    parameters:
      redis-image:
        type: string
      go-image:
        type: string
    docker:
      - image: << parameters.go-image >>
        environment:
          - GO111MODULE=on
          - REDIS_ADDR=:7000,:7001,:7002
      - image: << parameters.redis-image >>
        command:
          - --cluster-enabled
          - "yes"
          - --port
          - "7000"
          - --cluster-config-file
          - 7000.conf
      - image: << parameters.redis-image >>
        command:
          - --cluster-enabled
          - "yes"
          - --port
          - "7001"
          - --cluster-config-file
          - 7001.conf
      - image: << parameters.redis-image >>
        command:
          - --cluster-enabled
          - "yes"
          - --port
          - "7002"
          - --cluster-config-file
          - 7002.conf
    steps:
      - checkout
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck -checks all,-ST1000 ./...
      - run: dockerize -wait tcp://:7000 -wait tcp://:7001 -wait tcp://:7002
      - run: sudo apt-get update && sudo apt-get install redis-tools
      - run: echo yes | redis-cli --cluster create 127.0.0.1:7000 127.0.0.1:7001 127.0.0.1:7002
      - run: go test -p 1 -v ./...
  fossa:
    docker:
      - image: alpine
    steps:
      - checkout
      - run: apk add --no-cache curl bash
      - run: |
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash
      - run: fossa analyze
      - run: fossa test
workflows:
  version: 2
  build_and_test:
    jobs:
      - redis:
          matrix:
            parameters:
              go-image:
                - cimg/go:1.19
                - cimg/go:1.20
              redis-image:
                - redis:5-alpine
                - redis:6-alpine
                - eqalpha/keydb
      - redis-cluster:
          matrix:
            parameters:
              go-image:
                - cimg/go:1.19
                - cimg/go:1.20
              redis-image:
                - redis:5-alpine
                - redis:6-alpine
                - eqalpha/keydb
      - fossa
