version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
      - image: redis:alpine
    working_directory: /go/src/github.com/taylorchu/work
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
